font-family: "Ubuntu", sans-serif;

.main-container{
    margin-top:40px;
}

.profile{
    text-align: center;
    margin-bottom: 10px;
}

.profile-image{
    vertical-align: middle;
    width: 90%;
    height: auto;
}

@media screen and (min-width: 480px) {
    .profile-image{
        vertical-align: middle;
        width: 50%;
        height: auto;
    }
}

.profile-container{
    text-align: center;
}

.profile-name{
    margin-top: 20px;
    margin-bottom:5px;
}

.profile-subtext{
    color:gray;
    margin-top: 0;
}

.contacts {
    text-align: center;
    position: relative;
}

.contacts ul{
    list-style-type: none;
}

.contacts li {
    display: inline;
}

.link {
    color: #446CB3;
    text-decoration: none;
    border-bottom: #042c73 1px dotted;
}

.link:hover {
    background-color: #b7dfff;
    border-bottom: none;
    display: inline;
}